@{
    ViewBag.Title = "Home Page";
}

<div class="container-fluid placeholders">
    <div class="row">
        
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-18 col-md-12">
            <div id="grid"></div>
            <div id="details"></div>
        </div>
    </div>
</div>
<script>
    var wnd,
        detailsTemplate;

    $(document).ready(function () {


        $(".textButton").kendoButton();

        $("#grid").kendoGrid({
            dataSource: {
                //type: "jsonp",
                transport: {
                    read: "https://api.spacexdata.com/v3/launches"
                },
                pageSize: 10

            },
            pageable: true,
            height: 715,
            filterable: true,
            sortable: true,
            pageable: true,
            columnMenu: true,
            columns: [
                { field: "flight_number", title: "Flight Number" },
                { field: "mission_name", title: "Mission Name" },
                { field: "rocket.rocket_name", title: "Rocket Name" },
                {field: "launch_date_local", title: "Launch Date", template: "#= kendo.toString(kendo.parseDate(launch_date_utc), 'MM/dd/yyyy h:mm tt')#"},
                { field: "launch_success", title: "Success" },
                { command: { text: "View Details", click: showDetails }, title: "Cargo Manifest", width: "180px" }
            ],
            //detailTemplate: "<div>Name: #: rocket.second_stage.payloads.customers #</div>"
        }).data("kendoGrid");

        wnd = $("#details")
            .kendoWindow({
                title: "Cargo Manifest",
                modal: true,
                visible: false,
                resizable: false,
                width: 300
            }).data("kendoWindow");

        detailsTemplate = kendo.template($("#template").html());
    });
    function showDetails(e) {
        e.preventDefault();

        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        wnd.content(detailsTemplate(dataItem));
        wnd.center().open();
    }
</script>
<script type="text/x-kendo-template" id="template">
    <div id="details-container">
        <h2>Cargo Manifest</h2>
        <br />
        <br />
        <dl>
            <dt>Payload ID: #= rocket.second_stage.payloads[0].payload_id #</dt>
            <br />
            <dt>NORAD ID: #= rocket.second_stage.payloads[0].norad_id[0] #</dt>
            <br />
            <dt>Customer: #= rocket.second_stage.payloads[0].customers[0] #</dt>
            <br />
            <dt>Nationality: #= rocket.second_stage.payloads[0].nationality #</dt>
            <br />
            <dt>Manufacturer: #= rocket.second_stage.payloads[0].manufacturer #</dt>
            <br />
            <dt>Payload Type: #= rocket.second_stage.payloads[0].payload_type #
            <dt><br />
            <dt>Payload Mass (kg): #= rocket.second_stage.payloads[0].payload_mass_kg #
            <dt><br />
            <dt>Payload Mass (lbs): #= rocket.second_stage.payloads[0].payload_mass_lbs #
            <dt><br />
        </dl>

    </div>
</script>

<style type="text/css">
    #details-container {
        padding: 10px;
    }

        #details-container h2 {
            margin: 0;
        }

        #details-container em {
            color: #8c8c8c;
        }

        #details-container dt {
            margin: 0;
            display: inline;
        }
</style>
